* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  list-style: none;
}

body{
  width: auto;
}

.checkbtn{
  margin-right: 40px;
  float: right;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.navbar {
  justify-content: center;
  width: 100%;
  position: fixed;
  display: flex;
  color: white;
  padding: 10px 0px;
  height: 50px;
  background-color:  rgb(15, 149, 216);
  align-items: center;
  box-shadow: 0 0 10px rgba(117, 117, 117, 0.5);
}

.nav-menu {
  margin-left: 100px;
  display: flex;
  text-decoration: none;
}

.nav-menu li {
  margin: 0 30px;
  font-weight: 700;
  transition: 0.4s;
}

.nav-menu li:hover{
  
}


.btn-text{
  text-decoration: none;
  color: white;
}

.btn-text:hover{
  color: rgb(133, 205, 241);
}

.btn-text h3:hover{
  color: rgb(133, 205, 241);
}

.auth{
  font-family: "roboto", sans-serif,;
  text-decoration: none;
  padding:6px 20px;
  color:white;
  background-color: rgb(255, 204, 35);
  border-radius: 20px;
}

.search-button {
color: rgb(190, 190, 190);
float: right;
width: 32px;
height: 32px;
margin-top: 2px;
background:rgb(255, 255, 255);
font-size: 17px;
border: none;
cursor: pointer;
}

input[type=text] {
height: 20px;
padding: 6px;
margin-top: 2px;
font-size: 17px;
border: none;
}

  .pa{
    width: 100%;
    height: 50px;
  }

.cardpa {
  margin-top: 20px;
  width: calc(100% - 200px);
  display: flex;
  padding: 0 100px;
}

.cardpa1 {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 10px 20px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
  transition: 0.4s;
}

.cardpa1:hover{
  box-shadow: 0 0 10px rgba(59, 59, 59, 0.5);
}

.w-20 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: left;
}

.w-40 {
  width: 40%;
  height: 230px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: left;
}

.w-40 h3 {
  color: rgb(255, 204, 35);
}

.tombol {
  text-decoration: none;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  background: rgb(255, 204, 35);
  color: white;
  transition: 0.4s;
}

.pilihan {
  width: calc(100% - 200px);
  padding: 0 100px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
 }

.box-underline {
  width: 100px;
  height: 3px;
  margin-top: 5px;
  background-color: rgb(255, 204, 35);
  display: flex;
}

.w-30 {
  width: 33%;
  padding: 0 40px 0 10px;
}

.kotak {
  margin-top:30px;
  margin-bottom: 30px;
  padding: 10px 15px;
  width:100%;
  border-radius: 7px;
  display: flex;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
  transition:0.4s;
}

.kotak:hover{
  box-shadow: 0 0 10px rgba(59, 59, 59, 0.5);
}

.kotak p{
  font-size: 14px;
  font-weight: 650;
  font-family: montserrat;
}

.harga{
  margin: 10px 0;
  color: rgb(255, 204, 36);
}

.semua{
  width: calc(100% - 200px);
  padding: 0 100px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
}

.w-lebar{
  width: 100%;
  display: flex;
  
}

.lebar{
  width:30%;
  margin-top:30px;
  margin-bottom: 30px;
  padding: 15px 15px;
  height: 120px;
  border-radius: 7px;
  display: flex;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
}

.bawah{
  display: flex;
  align-items: center;
  justify-content: center;
}

.kembali{
  margin: 0 10px;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
  transition: 0.4s;
}

.kembali:hover{
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.5);
}

.lanjut{
  margin: 0 10px;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
}

.lanjut:hover{
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.5);
}

.sponsorlogo{
  width: 100%;
  display: flex;
}

.sponsorpilihan{
  width: calc(100% - 400px);
  padding: 0 200px;
  display: flex;
  background: rgb(230, 231, 232);
  margin-top: 30px;
}

.sponsor{
  width: 100%;
}

.footer {
  width: calc(100% - 200px);
  padding: 0 100px;
  display: flex;
  background-color:  rgb(15, 149, 216);
}

.w-25{
  width: 25%;
  color: white;
  background-color:  rgb(15, 149, 216);
  padding: 40px 20px;
}

.w-25 h2{
  margin-bottom: 15px;
  color: rgb(255, 204, 35); 
}

.w-25 p{
  margin-bottom: 6px;
}

.btn-text{
  text-decoration: none;
}

.subscribe{
  width:100%;
}

@media screen and (max-width: 1190px){
    .navbar {
      justify-content: space-between;
      width: 100%;
      position: fixed;
      color: white;
      padding: 10px 20px;
      height: 50px;
      background-color:  rgb(15, 149, 216);
      align-items: center;
      box-shadow: 0 0 10px rgba(117, 117, 117, 0.5);
    }
    
    .nav-menu li {
      padding: 15px 0;
      font-weight: 700;
    }

    .nav-menu{
      justify-content: center;
      margin-left: 0px;
      background: rgb(10, 134, 196);
      position: fixed;
      width: 100%;
      padding: 10px 0;
      top: 70px;
      right: -100%;
      text-align: center;
      display: inline-block;
      transition: all .2s;
    }

    .checkbtn{
      background:  rgb(15, 149, 216);
      float: right;
      align-items: flex-end;
      display: block;
    }

    #check{
      display: none;
    }

    .checkbtn:hover, .checkbtn:focus{
      color:  rgb(10, 134, 196);
    }

    #check:checked ~ .nav-menu{
      justify-content: center;
      margin-left: 0px;
      background: rgb(10, 134, 196);
      position: fixed;
      width: 100%;
      padding: 10px 0;
      top: 70px;
      right: 0;
      text-align: center;
      display: inline-block;
    }

    .search-button{
      float: inherit;
    }

    
  }

  @media screen and (max-width: 1360px){
    .nav-menu li {
      margin: 0 10px;
      font-size: 14px;
      transition: 0.4s;
    }
    
    .btn1{
      transition: 0.4s;
    }
    
    .btn1:hover{
      background: rgb(31, 162, 228);
    }
    
    .btn-text{
      text-decoration: none;
      color: white;
    }
    
    .search-button {
    float: right;
    width: 27px;
    height: 27px;
    margin-top: 2px;
    margin-right: 16px;
    background:rgb(255, 255, 255);
    font-size: 17px;
    border: none;
    cursor: pointer;
    }

    input[type=text] {
      height: 15px;
      padding: 6px;
      margin-top: 2px;
      font-size: 17px;
      border: none;
      }
    
    .full{
      width: 100%;
      background-color:  rgb(15, 149, 216);
      padding: 20px 0;
    }
  
    .hero {
      color: white;
      margin-top: 50px;
      width: calc(100% - 200px);
      padding: 0 100px;
      background-color: rgb(15, 149, 216);
      margin: auto;
      align-items: center;
      display: inline;
    }

    .w-50 {
      width: 100%;
      padding: 0 0;
      text-align: center;
      align-items: center;
      display: flexbox;
    }
  
    .w-51 {
      width: 100%;
      padding: 0 0;
      text-align: center;
      align-items: center;
    }

    .card {
      width: calc(100% - 200px);
      margin: 20px 0;
      padding: 0 100px;
      text-align: center;
      align-items: center;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      display: inline-flexbox;
    }
  
    .card1 {
      width: 50%;
      margin: 20px 0;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding: 30px 55px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
      transition: 0.4s;
    }
  
    .card1:hover{
      box-shadow: 0 0 10px rgba(59, 59, 59, 0.5);
      transform: scale(101%);
    }
  
    .card1 h2{
      margin-bottom: 12px;
    }
    
    .gmblaptop1 {
      padding: 0px 0 0 0;
      width: 250px;
    }
    
    .cardpa {
      width: calc(100% - 200px);
      display: flex;
      padding: 0 100px;
    }
  
    .cardpa1 {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding: 10px 20px;
      display: inline-table;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
      transition: 0.4s;
    }
  
    .cardpa1:hover{
      box-shadow: 0 0 10px rgba(59, 59, 59, 0.5);
    }
  
    .w-20 {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      float: left;
    }
  
    .w-40 {
      width: 60%;
      padding: 20px 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      float: left;
    }
  
    .w-40 h3 {
      color: rgb(255, 204, 35);
    }

    .pilihan {
      width: calc(100% - 200px);
      padding: 0 100px;
      margin-top: 40px;
      margin-bottom: 20px;
      display: inherit;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
     }
  
    .box-underline {
      width: 100px;
      height: 3px;
      margin-top: 5px;
      background-color: rgb(255, 204, 35);
      display: flex;
    }
  
    .w-30 {
      width: 100%;
      padding: 0 40px 0 10px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  
    .kotak {
      margin-top:30px;
      margin-bottom: 30px;
      padding: 10px 15px;
      width:70%;
      border-radius: 7px;
      display: flex;
      box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
      transition:0.4s;
    }
  
    .kotak:hover{
      box-shadow: 0 0 10px rgba(59, 59, 59, 0.5);
    }
  
    .kotak p{
      font-size: 14px;
      font-weight: 650;
      font-family: montserrat;
    }
  
    .harga{
      margin: 10px 0;
      color: rgb(255, 204, 36);
    }

    .promo{
      color: white;
      background: rgb(255, 204, 36);
      width: 70%;
      height: 100px;
      display: inherit;
      align-items: center;
      justify-content: center;
    }
  
    .sponsorpilihan{
      width: calc(100% - 400px);
      padding: 0 200px;
      display: flex;
      background: rgb(230, 231, 232);
      margin-top: 30px;
    }
  
    .sponsor{
      width: 100%;
    }

    .mb-40{
    margin-bottom: 30px;
    font-weight: 1000;
    font-size: 40px;
    }

    .gmb-hero{
      width: 40%;
    }

  }

  @media screen and (max-width: 1190px){
    .navbar {
      justify-content: space-between;
      width: 100%;
      position: fixed;
      color: white;
      padding: 10px 20px;
      height: 50px;
      background-color:  rgb(15, 149, 216);
      align-items: center;
      box-shadow: 0 0 10px rgba(117, 117, 117, 0.5);
    }
    
    .nav-menu li {
      padding: 15px 0;
      font-weight: 700;
    }

    .nav-menu{
      justify-content: center;
      margin-left: 0px;
      background: rgb(10, 134, 196);
      position: fixed;
      width: 100%;
      padding: 10px 0;
      top: 70px;
      right: -100%;
      text-align: center;
      display: inline-block;
      transition: all .2s;
    }

    .checkbtn{
      background:  rgb(15, 149, 216);
      float: right;
      align-items: flex-end;
      display: block;
    }

    #check{
      display: none;
    }

    .checkbtn:hover, .checkbtn:focus{
      color:  rgb(10, 134, 196);
    }

    #check:checked ~ .nav-menu{
      justify-content: center;
      margin-left: 0px;
      background: rgb(10, 134, 196);
      position: fixed;
      width: 100%;
      padding: 10px 0;
      top: 70px;
      right: 0;
      text-align: center;
      display: inline-block;
    }

    .search-button{
      float: inherit;
    }

    
  }

  @media screen and (max-width: 915px){
  .sponsorpilihan{
    width: calc(100% - 150px);
    padding: 0 75px;
    display: flex;
    background: rgb(230, 231, 232);
    margin-top: 30px;
  }

  .footer {
    width: calc(100% - 80px);
    padding: 10px 40px;
    display: inline-table;
    background-color:  rgb(15, 149, 216);
  }

  .w-25{
    width: 80%;
    color: white;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 800px){
  .gmblaptop2{
    width: 150px;
  }
}

@media screen and (max-width: 650px){
  .gmblaptop2{
    width: 110px;
  }

  .cardpa {
    width: calc(100% - 100px);
    display: flex;
    padding: 0 20px;
  }

  .kotak {
    margin-top:30px;
    margin-bottom: 30px;
    padding: 10px 15px;
    width:100%;
    border-radius: 7px;
    display: inherit;
    box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
    transition:0.4s;
  }
}

@media screen and (max-width: 400px){
  body{
    width: 100%;
  }

  .full{
    width: 100%;
  }

  .navbar {
    justify-content: space-between;
    width: 100%;
    position: fixed;
    color: white;
    padding: 10px 0;
    height: 50px;
    background-color:  rgb(15, 149, 216);
    align-items: center;
    box-shadow: 0 0 10px rgba(117, 117, 117, 0.5);
  }

  .hero{
    width: 100%;
    padding: 0 20px;
  }

  .mb-40{
    padding: 0 10px;
    margin-bottom: 30px;
    font-weight: 1000;
    font-size: 25px;
    }

    .gmb-hero{
      margin-top: 20px;
      width: 50%;
    }

    .gmblaptop1{
      width: 150px;
    }

    .gmblaptop2{
      width: 100px;
    }

    .pilihan {
      width: calc(100% - 100px);
      padding: 0 50px;
      margin-top: 40px;
      margin-bottom: 20px;
      display: inherit;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
     }
  
    .box-underline {
      width: 100px;
      height: 3px;
      margin-top: 5px;
      background-color: rgb(255, 204, 35);
      display: flex;
    }
  
    .w-30 {
      width: 100%;
      padding: 0 40px 0 10px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  
    .kotak {
      margin-top:30px;
      margin-bottom: 30px;
      padding: 10px 15px;
      width:100%;
      border-radius: 7px;
      display: inherit;
      box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
      transition:0.4s;
    }

    .kotak p{
      font-size: 14px;
      font-weight: 650;
      font-family: montserrat;
    }
}