* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  list-style: none;
}

body{
  width: auto;
}

.checkbtn{
  margin-right: 40px;
  float: right;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.navbar {
  justify-content: center;
  width: 100%;
  position: fixed;
  display: flex;
  color: white;
  padding: 10px 0px;
  height: 50px;
  background-color:  rgb(15, 149, 216);
  align-items: center;
  box-shadow: 0 0 10px rgba(117, 117, 117, 0.5);
}

.nav-menu {
  margin-left: 100px;
  display: flex;
  text-decoration: none;
}

.nav-menu li {
  margin: 0 30px;
  font-weight: 700;
  transition: 0.4s;
}

.nav-menu li:hover{
  
}


.btn-text{
  text-decoration: none;
  color: white;
}

.btn-text:hover{
  color: rgb(133, 205, 241);
}

.btn-text h3:hover{
  color: rgb(133, 205, 241);
}

.auth{
  font-family: "roboto", sans-serif,;
  text-decoration: none;
  padding:6px 20px;
  color:white;
  background-color: rgb(255, 204, 35);
  border-radius: 20px;
}

.search-button {
color: rgb(190, 190, 190);
float: right;
width: 32px;
height: 32px;
margin-top: 2px;
background:rgb(255, 255, 255);
font-size: 17px;
border: none;
cursor: pointer;
}

input[type=text] {
height: 20px;
padding: 6px;
margin-top: 2px;
font-size: 17px;
border: none;
}

  .pa{
    width: 100%;
    height: 50px;
  }

  .btn-text1{
    text-decoration: none;
    margin: 0 20px;
    font-weight: 600;
    color: rgb(255, 204, 35);
  }

  .nav-menu1{
    list-style: none;
    text-decoration: none;
    margin-top: 20px;
    display: flex;
  }


  .tombol {
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    background: rgb(255, 204, 35);
    color: white;
    transition: 0.4s;
  }

  .tombol:hover{
    transform: scale(105%);
  }

.prof {
  margin-top: 20px;
    width: calc(100% - 200px);
    padding: 0 100px;
    display: flex;
}

.prof h2{
    margin: 10px 0;
}

.w-30 {
    width: 33.5%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column; 
}

.w-70 {
    width: 66.5%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

.gprofil{
    width: 100%;
    margin-bottom: 20px;
}

.kontak {
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
}

.kontak td{
    height: 30px;
}

.riwayatbeli {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.box-underline {
  width: 100px;
  height: 3px;
  margin-top: 5px;
  background-color: rgb(255, 204, 35);
  display: flex;
}

.riwayatbeli p{
  font-size: 14px;
  font-weight: 600;
  font-family: montserrat;
}

.harga{
  margin: 10px 0;
  color: rgb(255, 204, 36);
}

.r1 {
    margin: 0 30px 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    float: left;
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 40px 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
  }

.r1 h3{
    color: rgb(255, 204, 35);
    margin-top: 10px;
}

.r2 {
    margin: 0 30px 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    float: left;
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 40px 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
}

.r2 h3{
    color: rgb(255, 204, 35);
    margin-top: 10px;
}

.gmblaptop1{
  width: 250px;
}

.sponsorlogo{
  width: 100%;
  display: flex;
}

.promogmbr{
  width: 70%;
}

.sponsorpilihan{
  width: calc(100% - 400px);
  padding: 0 200px;
  display: flex;
  background: rgb(230, 231, 232);
  margin-top: 30px;
}

.sponsor{
  width: 100%;
}

.footer {
  width: calc(100% - 200px);
  padding: 0 100px;
  display: flex;
  background-color:  rgb(15, 149, 216);
}

.w-25{
  width: 25%;
  color: white;
  background-color:  rgb(15, 149, 216);
  padding: 40px 20px;
}

.w-25 h2{
  margin-bottom: 15px;
  color: rgb(255, 204, 35); 
}

.w-25 p{
  margin-bottom: 6px;
}

.btn-text{
  text-decoration: none;
}

.subscribe{
  width:100%;
}

@media screen and (max-width: 1360px){
  .w-30 {
    width: 33.5%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column; 
}

.w-70 {
    width: 66.5%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

.gprofil{
    width: 80%;
    margin-bottom: 20px;
}

.kontak {
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
}

.kontak td{
    height: 30px;
}

.gmblaptop1{
  width: 200px;
}
  
  .nav-menu li {
    margin: 0 20px;
    font-size: 14px;
    transition: 0.4s;
  }
  
  .btn1{
    transition: 0.4s;
  }
  
  .btn1:hover{
    background: rgb(31, 162, 228);
  }
  
  .btn-text{
    text-decoration: none;
    color: white;
  }
  
  .search-button {
  float: right;
  width: 27px;
  height: 27px;
  margin-top: 2px;
  margin-right: 16px;
  background:rgb(255, 255, 255);
  font-size: 17px;
  border: none;
  cursor: pointer;
  }

  input[type=text] {
    height: 15px;
    padding: 6px;
    margin-top: 2px;
    font-size: 17px;
    border: none;
    }

  .promo{
    color: white;
    background: rgb(255, 204, 36);
    width: 70%;
    height: 100px;
    display: inherit;
    align-items: center;
    justify-content: center;
  }

  .sponsorpilihan{
    width: calc(100% - 400px);
    padding: 0 200px;
    display: flex;
    background: rgb(230, 231, 232);
    margin-top: 30px;
  }

  .sponsor{
    width: 100%;
  }
}

@media screen and (max-width: 1190px){
  .navbar {
    justify-content: space-between;
    width: 100%;
    position: fixed;
    color: white;
    padding: 10px 20px;
    height: 50px;
    background-color:  rgb(15, 149, 216);
    align-items: center;
    box-shadow: 0 0 10px rgba(117, 117, 117, 0.5);
  }
  
  .nav-menu li {
    padding: 15px 0;
    font-weight: 700;
  }

  .nav-menu{
    justify-content: center;
    margin-left: 0px;
    background: rgb(10, 134, 196);
    position: fixed;
    width: 100%;
    padding: 10px 0;
    top: 70px;
    right: -100%;
    text-align: center;
    display: inline-block;
    transition: all .2s;
  }

  .checkbtn{
    background:  rgb(15, 149, 216);
    float: right;
    align-items: flex-end;
    display: block;
  }

  #check{
    display: none;
  }

  .checkbtn:hover, .checkbtn:focus{
    color:  rgb(10, 134, 196);
  }

  #check:checked ~ .nav-menu{
    justify-content: center;
    margin-left: 0px;
    background: rgb(10, 134, 196);
    position: fixed;
    width: 100%;
    padding: 10px 0;
    top: 70px;
    right: 0;
    text-align: center;
    display: inline-block;
  }

  .search-button{
    float: inherit;
  }
}

@media screen and (max-width: 915px){
  .prof {
    margin-top: 20px;
      width: calc(100% - 50px);
      padding: 0 25px;
      display: inline-block;
  }
  
  .gprofil{
    width: 50%;
    margin-bottom: 20px;
  }

  .w-30 {
    width: 90%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column; 
}

.w-70 {
    width: 90%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

.kontak {
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
}

.kontak td{
    height: 30px;
}

.gmblaptop1{
  width: 200px;
}
  

  .gmblaptop1{
    width: 150px;
  }

  .sponsorpilihan{
  width: calc(100% - 150px);
  padding: 0 75px;
  display: flex;
  background: rgb(230, 231, 232);
  margin-top: 30px;
}

.footer {
  width: calc(100% - 70px);
  padding: 10px 35px;
  display: inline-table;
  background-color:  rgb(15, 149, 216);
}

.w-25{
  width: 80%;
  color: white;
  padding: 10px 20px;
}

.riwayatbeli {
  margin-top: 20px;
  width: 100%;
  display: inline-table;
}

.r1 {
  margin: 0 30px 0 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  float: left;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 40px 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
}

.r2 {
  margin: 20px 0 0 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  float: left;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 40px 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
}

}

@media screen and (max-width: 400px){
  body{
    width: 100%;
  }

  .full{
    width: 100%;
  }

  .prof {
    margin-top: 20px;
      width: calc(100% - 20px);
      padding: 0 5px;
      display: inline-block;
  }

  .w-30 {
    width: 100%%;
    padding: 30px 10px;
    display: flex;
    flex-direction: column; 
}

  .w-70 {
    width: calc(100% - 20px);
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
}

.kontak {
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
}

  .navbar {
    justify-content: space-between;
    width: 100%;
    position: fixed;
    color: white;
    padding: 10px 0;
    height: 50px;
    background-color:  rgb(15, 149, 216);
    align-items: center;
    box-shadow: 0 0 10px rgba(117, 117, 117, 0.5);
  }

  .sponsorpilihan{
      width: 100%;
      padding: 0 0;
      background: rgb(230, 231, 232);
      margin-top: 30px;
    }
}